<div style="display: flex; justify-content : center;">
  <nav>
    <ul class="pagination justify-content-center">
      <li class="page-item" [ngClass]="currentPage === 0 ? 'disabled' : ''">
        <a class="page-link" (click)="currentPage = currentPage - 1">Önceki</a>
      </li>

      <li class="page-item" [ngClass]="i=== currentPage ? 'active': '' "*ngFor="let image of images; let i=index">
        <!--<a class="page-link" (click)="onPageChange(i)"href="#">{{i+1}}</a> İlk Yöntem -->
        <a class="page-link" (click)="currentPage = i" href="#">{{i+1}}</a>
      </li>
      <li class="page-item" [ngClass]="currentPage === images.length-1 ? 'disabled' : '' ">
        <a class="page-link" (click)="currentPage = currentPage + 1" href="#">Sonraki</a>
      </li>
    </ul>
  </nav>
</div>

<div style="text-align: center;">
  <h4>{{images[currentPage].title}}</h4>
  <img src="{{images[currentPage].url}}" alt="">
</div>
